<!DOCTYPE html>
<html lang="pt-br" layout:decorate="~{template.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://thymeleaf.org">
<head>
    <title>Title</title>
</head>
<body>
<h1>Editar</h1>
<div layout:fragment="conteudo">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Alteração de Cidades</h2>
                <!--  verifica se a mensagem não é nula, se existe na requisição (chave,valor) -->
                <div class="alert alert-success alert-dismissible fade show" th:if="${mensagem}">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>

                    <span th:text="${mensagem}"></span>
                </div>

                <form action="#" th:action="@{/cidades/editar/{id}(id=${cidade.id})}" th:object="${cidade}" method="post">
                    <input type="hidden" name="_method" value="put">
                    <div class="row mb-3">
                        <label for="nome" class="col-sm-1 col-form-label">Nome:</label>
                        <div class="col-sm-5">
                            <!--  th:field   associa input com cada campo com o atibuto do obj-->
                            <input id="nome" class="form-control" type="text" th:field="*{nome}" />
                        </div>
                        <div class="col-sm-5">
                            <span class="mensagem" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
                            <!-- th:if="${#fields.hasErrors('nome') - associado com o controller no BindingResult result -->
                            <!-- th:errors="*{nome} mostra o erro-->
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="estado" class="col-sm-1 col-form-label">Estado:</label>
                        <div class="col-sm-3">
                            <select id="estado" class="form-control" th:field="*{estado}">
                                <option value="">Selecione o Estado</option>
                                <!-- Inserir opções de estados em ordem alfabética -->
                                <option th:each="estadoOption : ${estados}" th:value="${estadoOption}" th:text="${estadoOption}" th:selected="${estadoOption == estado}"></option>
                            </select>
                        </div>
                        <div class="col-sm-5">
                            <span class="mensagem" th:if="${#fields.hasErrors('estado')}" th:errors="*{estado}"></span>
                        </div>
                    </div>



                    <input class="btn btn-primary" type="submit" value="Alterar" />

                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>