<!DOCTYPE html>
<html lang="pt-br" layout:decorate="~{template.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Cadastro de Cidades</title>


</head>
<body>
<div layout:fragment="conteudo">


    <div class="container">
        <div class="row">
            <div class="col">



                <h2 class=" my-4 ">Cadastrar Cidades</h2>

                <div class="alert alert-success alert-dismissible fade show" th:if="${mensagem}">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <span th:text="${mensagem}"></span>
                </div>

                <form action="/cidades" id="" method="post">
                    <div class="row mb-3">
                        <label class="col-sm-1 col-form-label" for="nome">Nome:</label>
                        <div class="col-sm-3">
                            <input class="form-control" th:text="*{nome}" name="nome" id="nome" type="text" placeholder="Informe o nome da cidade">
                        </div>

                    </div>

                    <div class="row mb-3">

                            <label class=" col-sm-1 col-form-label" for="estado">Estado :</label>

                        <div class="col-sm-3">


                        <select class="form-control " name="estado" id="estado" required>
                            <option class="col-sm-1 col-form-label" value="">Selecione o Estado</option>
                            <!-- Inserir opções de estados em ordem alfabética -->
                            <option th:each="estado : ${estados}" th:value="${estado}" th:text="${estado}"></option>
                        </select>

                        </div>


                    </div>

                    <button class="btn btnMenu mt-3">Adicionar Cidade</button>
                </form>


            </div>

        </div>

    </div>
</div>

</body>
</html>