<!DOCTYPE html>
<html lang="pt-br" layout:decorate="~{template.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://thymeleaf.org">
<head>

    <title>SmartEvent Home</title>


</head>
<body>

<div layout:fragment="conteudo">
    <div class="container">

        <div class="d-flex justify-content-center mt-5">

            <h2>Bem Vindo(a) ao sistema de adm de eventos</h2>




        </div>


        <div class="">
            <h3 class="d-flex justify-content-center mt-5 mb-4  ">sistema feito por:</h3>
            <h5 class="d-flex justify-content-center "><span class="text-warning mx-2">RM: 95776   </span> Luigi Licciardi  </h5>
            <h5 class="d-flex justify-content-center "><span class=" text-warning mx-2">RM: 96301  </span>  Vitor Santos Alves </h5>
        </div>

      
    </div>

    </div>
</div>


</body>
</html>