<!DOCTYPE html>
<html lang="pt-br" layout:decorate="~{template.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Cadastro de Eventos</title>


</head>
<body>
<div layout:fragment="conteudo">


    <div class="container">
        <div class="row">
            <div class="col">



<h1>Cadastrar Eventos</h1>

                <div class="alert alert-success alert-dismissible fade show" th:if="${mensagem}">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <span th:text="${mensagem}"></span>
                </div>

<form action="/eventos" id="" method="post">
    <div class="p-2">
        <label for="nome">Nome do Evento :</label>
        <input th:text="*{nome}" name="nome" id="nome" type="text" required >
    </div>

    <div class="p-2">
        <label for="data">Data do Evento :</label>
        <input th:text="*{data}" name="data" id="data" type="date" required >
    </div>

    <div class="p-2">
        <label for="url">Url do Evento :</label>
        <input th:text="*{url}" name="url" id="url" type="text" required>
    </div>



    <div class="form-row">
        <div class="row mb-3">
            <label class="col-sm-1 col-form-label">Cidade:</label>
            <div class="col-sm-3">
                <select class="chosen-select form-control" data-placehold="cidade" id="cidade" name="cidade" required>
                    <option value="">Selecione uma cidade</option>
                    <!-- Itera sobre a lista de cidades e gera as opções do dropdown -->
                    <option th:each="cidadeItem : ${cidades}" th:value="${cidadeItem.id}" th:text="${cidadeItem.nome}"></option>
                </select>
            </div>


        </div>
    </div>



    <button>Adicionar Evento</button></form>

            </div>

        </div>

    </div>
</div>

</body>
</html>